@import './common/common.css';
@import './common/header.css';
@import './common/footer.css';
@import './contents/contents.css';
@import './action/action.css';

:root{
  --size-header-height    : 40px;
  --size-footer-height    : 30px;
  --color-border          : #141414;
  --color-contents-header : #333333;
  --color-font            : #727272;
  --color-font-active     : #525252;
  --size-images-header    : 30px;
}

@font-face {
  font-family : 'base-font';
  src         : url(./fonts/Rubik-Light.ttf) format('truetype');
}
