@import './common/common.css';
@import './common/header.css';
@import './common/footer.css';
@import './property/common.css';
@import './contents/contents.css';
@import './action/action.css';
@import './sound/common.css';

@import './mode/home.css';
@import './mode/contents.css';

:root{
  --size-header-height    : 40px;
  --size-footer-height    : 0px;
  --color-border          : #141414;
  --color-contents-header : #333333;
  --color-font            : #727272;
  --color-font-active     : #525252;
  --color-bg              : #262626;
  --size-images-header    : 30px;
}

@font-face {
  font-family : 'base-font';
  src         : url(./fonts/Rubik-Light.ttf) format('truetype');
}
