<li>
  <div class='flex rotate' data-type='rotate'>
    <div class='title'>Rotate</div>
    <div class='range'><input type='range' name='rotate_range' min='-180' max='180' step='1' value='0' /></div>
    <div class='input'><input type='text' name='rotate' value='0' /></div>
  </div>
</li>

<li>
  <div class='flex posx' data-type='posx'>
    <div class='title'>PosX</div>
    <div class='range'><input type='range' name='posx_range' min='-500' max='500' step='1' value='0' /></div>
    <div class='input'><input type='text' name='posx' value='0' /></div>
  </div>
</li>

<li>
  <div class='flex posy' data-type='posy'>
    <div class='title'>PosY</div>
    <div class='range'><input type='range' name='posy_range' min='-500' max='500' step='1' value='0' /></div>
    <div class='input'><input type='text' name='posy' value='0' /></div>
  </div>
</li>
