<div class='prev'>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0,0,48,48"><path d="M11 36V12h3v24Zm26 0L19.7 24 37 12Zm-3-12Zm0 6.25v-12.5L24.95 24Z"/></svg>
</div>
<div class='play' data-status='on'>
  <svg data-status='' xmlns="http://www.w3.org/2000/svg" viewBox="0,0,48,48"><path d="M16 37.85v-28l22 14Zm3-14Zm0 8.55 13.45-8.55L19 15.3Z"/></svg>
  <svg data-status='on' xmlns="http://www.w3.org/2000/svg" viewBox="0,0,48,48"><path d="M 16 37.85 v -28 l 22 14 Z Z Z"/></svg>
</div>
<div class='stop'>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0,0,48,48"><path d="M15 15v18Zm-3 21V12h24v24Zm3-3h18V15H15Z"/></svg>
</div>
<div class='next'>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0,0,48,48"><path d="M34 36V12h3v24Zm-23 0V12l17.3 12Zm3-12Zm0 6.25L23.05 24 14 17.75Z"/></svg>
</div>
