<li>
  <div class='flex rotate' data-type='rotate'>
    <div class='title'>Rotate</div>
    <div class='range'><input type='range' name='rotate_range' min='-180' max='180' step='1' value='0' /></div>
    <div class='input'><input type='text' name='rotate' value='0' /></div>
  </div>
</li>

<li>
  <div class='flex posx' data-type='posx'>
    <div class='title'>PosX</div>
    <div class='range'><input type='range' name='posx_range' min='-500' max='500' step='1' value='0' /></div>
    <div class='input'><input type='text' name='posx' value='0' /></div>
  </div>
</li>

<li>
  <div class='flex posy' data-type='posy'>
    <div class='title'>PosY</div>
    <div class='range'><input type='range' name='posy_range' min='-500' max='500' step='1' value='0' /></div>
    <div class='input'><input type='text' name='posy' value='0' /></div>
  </div>
</li>

<li>
  <div class='flex posz' data-type='posz'>
    <div class='title'>PosZ</div>
    <div class='range'><input type='range' name='posz_range' min='-100' max='100' step='1' value='0' /></div>
    <div class='input'><input type='text' name='posz' value='0' /></div>
  </div>
</li>

<!-- <li>
  <div class='flex scalex' data-type='scalex'>
    <div class='title'>ScaleY</div>
    <div class='range'><input type='range' name='scalex_range' min='0' max='2' step='0.1' value='1' /></div>
    <div class='input'><input type='text' name='scalex' value='1.0' /></div>
  </div>
</li>

<li>
  <div class='flex scaley' data-type='scaley'>
    <div class='title'>ScaleY</div>
    <div class='range'><input type='range' name='scaley_range' min='0' max='2' step='0.1' value='1' /></div>
    <div class='input'><input type='text' name='scaley' value='1.0' /></div>
  </div>
</li> -->

<li>
  <div class='flex shape' data-type='shape'>
    <div class='title'>Shape</div>
    <div class='datas'>
      <input type='hidden' name='matrix' />
    </div>
    <!-- <div class='range'><input type='range' name='sizeyy_range' min='0' max='2' step='0.1' value='1' /></div>
    <div class='input'><input type='text' name='sizey' value='1.0' /></div> -->
  </div>
</li>

<li>
  <div class='flex opacity' data-type='opacity'>
    <div class='title'>Opacity</div>
    <div class='range'><input type='range' name='opacity_range' min='0.0' max='1.0' step='0.1' value='1.0' /></div>
    <div class='input'><input type='text' name='opacity' value='1.0' step='0.1' /></div>
  </div>
</li>
