<li>
  <div class='flex rotate' data-type='rotate'>
    <div class='title'>Rotate</div>
    <div class='range'><input type='range' data-mode='range' name='rotate_range' min='-180' max='180' step='1' value='0' /></div>
    <div class='input'><input type='text' data-mode='input' name='rotate' value='0' /></div>
  </div>
</li>

<li>
  <div class='flex posx' data-type='posx'>
    <div class='title'>Pos-X</div>
    <div class='range'><input type='range' data-mode='range' name='posx_range' min='-500' max='500' step='1' value='0' /></div>
    <div class='input'><input type='text' data-mode='input' name='posx' value='0' /></div>
  </div>
</li>

<li>
  <div class='flex posy' data-type='posy'>
    <div class='title'>Pos-Y</div>
    <div class='range'><input type='range' data-mode='range' name='posy_range' min='-500' max='500' step='1' value='0' /></div>
    <div class='input'><input type='text' data-mode='input' name='posy' value='0' /></div>
  </div>
</li>

<li>
  <div class='flex posz' data-type='posz'>
    <div class='title'>Pos-Z</div>
    <div class='range'><input type='range' data-mode='range' name='posz_range' min='-100' max='100' step='1' value='0' /></div>
    <div class='input'><input type='text' data-mode='input' name='posz' value='0' /></div>
  </div>
</li>

<li>
  <div class='flex scale' data-type='scale'>
    <div class='title'>Scale</div>
    <div class='range'><input type='range' data-mode='range' name='scale_range' min='0.00' max='10.00' step='0.01' value='1.00' /></div>
    <div class='input'><input type='text' data-mode='input' name='scale' value='1.00' /></div>
  </div>
</li>

<li>
  <div class='flex shape' data-type='shape'>
    <div class='title'>Shape</div>
    <div class='datas'>
      <input type='hidden' name='matrix' />
    </div>
  </div>
</li>

<li>
  <div class='flex opacity' data-type='opacity'>
    <div class='title'>Opacity</div>
    <div class='range'><input type='range' data-mode='range' name='opacity_range' min='0.00' max='1.00' step='0.01' value='1.00' /></div>
    <div class='input'><input type='number' data-mode='input' name='opacity' value='1.00' step='00.1' /></div>
  </div>
</li>

<li>
  <div class='flex event' data-type='event'>
    <div class='title'>Event</div>
    <div class='datas'>
      <input type='hidden' name='event' />
    </div>
  </div>
</li>

<li>
  <div class='flex sound' data-type='sound'>
    <div class='title'>Sound</div>
    <div class='datas'>
      <input type='hidden' name='sound' />
    </div>
  </div>
</li>
