<div class='toggle'>
  <label>
    <input type='checkbox' name='shape_flg'>
    <div class='switch'></div>
  <label>
  <div class='preview'>
    <div class='button' data-name='x' data-mode='+'></div>
    <div class='button' data-name='x' data-mode='-'></div>
    <div class='button' data-name='y' data-mode='+'></div>
    <div class='button' data-name='y' data-mode='-'></div>
    <div class='table'><table class='matrix'></table></div>
  </div>
</div>
<div class='button'>
  <button type='button' name='reset'>Reset</button>
</div>

