header{
  height           : var(--size-header-height);
  border-bottom    : 1px solid var(--color-border);
  background-color : #262626;
  /* overflow         : hidden; */
  display:flex;
}

header > ul{
  display:flex;
  height:100%;
}
header > ul > li{
  min-width:40px;
  height:100%;
}



header > ul > li a:hover,
header > ul > li .button:hover{
  opacity:0.5;
}

header svg{
  max-height:100%;
  fill:white;
}
header > ul > li a,
header > ul > li .button{
  display:block;
  padding:5px;
  cursor:pointer;
}


header > ul > li:target svg{
  fill : red;
}

body[data-hash=''] header > ul > li a[href='#'] svg{
  fill : red;
}


header > ul.middle{
  
}
header > ul.control{
  margin-left:auto;
}

header li.range{
  display:flex;
  width:200px;
  align-items:center;
}
header li.range input[type='range']{
  width:75%;
}
header li.range .scale-value{
  display:block;
  width:25%;
  text-align:center;
}
header li.range .scale-value::after{
  content : '%';
}

/* Text-Menu */

header .text-menu > li{
  line-height : var(--size-header-height);
  padding-left:10px;
  padding-right:10px;
  margin-right:50px;
  cursor:pointer;
  position:relative;
}
header .text-menu > li *{
  color:var(--color-font);
  cursor:pointer;
}
header .text-menu > li:hover *{
  color:white;
}

header .text-menu > li .lists{
  position:absolute;
  display:none;
  top:100%;
  left:0;
  background-color: var(--color-contents-header);
  width:200px;
  z-index:1000;
  box-shadow:2px 2px 10px rgba(0,0,0,0.5);
}
header .text-menu > li input[type='checkbox']:checked ~ .lists{
  display:block;
}
header .text-menu > li .lists .item{
  color:var(--color-font);
  padding:10px 10px;
  cursor:pointer;
  line-height:normal;
  text-align:left;
}
header .text-menu > li .lists .item:hover{
  color:white;
}
header .text-menu > li .lists .item+*{
  border-top:1px solid var(--color-font);
}
