@import './animation.css';
@import './timeline.css';

.under{
  --size-list-height : 30px;
  --size-timeline-right-margin : 20px;
  --size-header : 30px;
  height: var(--size-under);
  display          : grid;
  grid-template-columns : 250px 1fr var(--size-timeline-right-margin);
}

.under[data-status='drag'] *{
  -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
  /* pointer-events:none; */
}

body[data-hash='action'] .over{
  grid-template-columns : 250px 1fr 250px;
}
body[data-hash='action'] .over [name='property']{
  display:none;
}
