[name='timeline']{
  position:relative;
  height:100%;
}

/* Input */
[name='timeline'] input[type='text'],
[name='timeline'] select[name]{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  display:inline-block;
  background-color:transparent;
  border:1px solid var(--color-font);
  border-radius:4px;
  text-align:right;
  outline:0;
  margin-right:5px;
  padding-left:5px;
  padding-right:5px;
  width:auto;
  height:100%;
  background-color:var(--color-contents-header);
  text-align:center;
}
/* [name='timeline'] .animation-name input[name='animation-name']{
  text-align:left;
} */
[name='timeline'] select[name]{
  padding-left:10px;
  padding-right:10px;
  
}

/* Header */
[name='timeline'] .header .tools > *{
  white-space:nowrap;
  padding:0 5px;
}
[name='timeline'] .header .tools input[name='duration']{
  width:40px;
}
[name='timeline'] .header .tools input[name='count']{
  width:80px;
}
[name='timeline'] .header .tools > .duration{
  margin-left:auto;
}


/* Timeline */
[name='timeline'] .timeline{
  height : var(--size-header);
  border-bottom:1px solid var(--color-font);
  position:relative;
}





/* Lists */

[name='timeline'] .lists{
  height : calc(var(--size-under) - var(--size-header) - var(--size-images-header));
  overflow:hidden;
  /* overflow:visible clip; */
}

[name='timeline'] .lists > *{
  height:var(--size-list-height);
  border-bottom:1px solid var(--color-font);
  padding:5px;
  /* overflow:hidden; */
}

[name='timeline'] .lists li,
[name='timeline'] .timeline{
  background-image:
  repeating-linear-gradient(
    90deg,
    var(--color-contents-header) ,
    var(--color-contents-header) 1px,
    transparent 1px,
    transparent 10%
  );
}
[name='timeline'] .timeline .cursor{
  position:absolute;
  top:4px;
  left:0;
  width:40px;
  height:16px;
  line-height:16px;
  white-space:nowrap;
  /* overflow:hidden; */
  border-radius:2px;
  background-color:var(--color-font);
  /* filter:drop-shadow(2px 2px 5px rgba(0,0,0,0.5)); */
  transform:translate(-50%,0);
  /* cursor:ew-resize; */
  font-size:10px;
  text-align:center;
}
/* [name='timeline'] .timeline .cursor:hover{
  background-color:white;
} */
[name='timeline'] .timeline .cursor::before{
  content:attr(data-num)' %';
  color:white;
  text-align:center;
}
[name='timeline'] .timeline .cursor::after{
  content:'';
  display:block;
  position:absolute;
  top:100%;
  left:50%;
  transform:translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 0 6px;
  border-color: var(--color-font) transparent transparent transparent;
}
/* [name='timeline'] .timeline .cursor:hover::before{
  color:black
}
[name='timeline'] .timeline .cursor:hover::after{
  border-top-color: white;
}
[name='timeline'] .timeline .cursor:active{
  background-color:red;
}
[name='timeline'] .timeline .cursor:active::after{
  border-top-color: red;
} */



[name='timeline'] .lists > *{
  position:relative;
}
[name='timeline'] .lists > * > .point{
  display:block;
  position:absolute;
  top:50%;
  left:0;
  width:12px;
  height:12px;
  transform:translate(-50%,-50%);
  background-color:var(--color-font);
  border-radius:50%;
  cursor:pointer;
}
[name='timeline'] .lists > * > .point:hover{
  background-color:red;
}
[name='timeline'] .lists > * > .point[data-status='active']{
  background-color:white;
}

.timeline-scroll{
  width:100%;
  height:var(--size-under);
}
.timeline-scroll .timeline-scroll-area{
  position:relative;
  margin-top:calc(var(--size-images-header) + var(--size-header));
  height:calc(100% - var(--size-images-header) - var(--size-header));
  overflow:hidden;
}
.timeline-scroll .timeline-scroll-bar{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:0 4px;
  /* background-color:red; */
  cursor:pointer;
}
.timeline-scroll .timeline-scroll-bar::before{
  content:'';
  display:block;
  width:100%;
  height:100%;
  background-color:var(--color-font);
  border-radius:4px;
}
.timeline-scroll .timeline-scroll-bar:hover{
  opacity:0.5;
}

