[data-service='image-motion']{
  --setting-duration : 0.01s;
}

[data-service='image-motion'] .scale{
  position:relative;
}

[data-service='image-motion'] .pic{
  position:absolute;
  display:block;
  transform-style:preserve-3d;

  /* transition-property : transform;
  transition-duration : var(--setting-duration); */
}

[data-service='image-motion'] .pic > img{
  display:block;
  width:100%;
  height:100%;
}

/* Shape */
/* [data-service='image-motion'] .pic[data-shape='1'] > img{
  display:none;
}
[data-service='image-motion'] .pic:not([data-shape='1']) > .shape{
  display:none;
} */
[data-service='image-motion'] .pic > .shape{
  width:100%;
  height:100%;
  position:relative;
}
[data-service='image-motion'] .pic > .shape > .shape-item{
  position:absolute;
  overflow:hidden;
}
[data-service='image-motion'] .pic > .shape > .shape-item > *{
  /* width:calc(100% + 1px);
  height:calc(100% + 1px); */
  position:absolute;
  /* overflow:hidden; */
}

/* [data-service='image-motion']{
  visibility:hidden;
}
[data-service='image-motion'][data-status='viewed']{
  visibility:visible;
} */
