[data-service='image-motion']{
  --setting-duration : 0.01s;
}

[data-service='image-motion'] .scale{
  position:relative;
}

[data-service='image-motion'] .pic{
  position:absolute;
  display:block;
  perspective: none;
  transform-style:preserve-3d;
}

[data-service='image-motion'] .pic > img{
  display:block;
  width:100%;
  height:100%;
}

/* Shape */
[data-service='image-motion'] .pic > .shape{
  width:100%;
  height:100%;
  position:relative;
}
[data-service='image-motion'] .pic > .shape > .shape-item{
  position:absolute;
  overflow:hidden;
}
[data-service='image-motion'] .pic > .shape > .shape-item > *{
  position:absolute;
}

[data-service='image-motion'] .pic > .shape img{
  min-width:100%;
  min-height:100%;
}
