@import './view.css';
@import './upload.css';
@import './lists.css';
@import './property.css';

.contents{
  


  height           : calc(100% - var(--size-header-height) - var(--size-footer-height));
  background-color : #262626;
  overflow         : hidden;

  /* display          : grid;
  
  grid-template-rows    : 2fr 1fr; */
}


.contents [name]{
  border:1px solid var(--color-border);
}

.contents .over{
  height:60%;

  display          : grid;
  grid-template-columns : 300px 1fr 200px;
  grid-template-rows    : 100%
}
.contents .over .over-left > *:nth-of-type(1){
  height:70%;
}
.contents .over .over-left > *:nth-of-type(2){
  height:30%;
}

.contents .under{
  height:40%;
  display          : grid;
  grid-template-columns : 30% 70%;
  /* overflow-y:scroll; */
  /* scrollbar-color : rebeccapurple var(--color-contents-header); */
  /* scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin; */
}
/* .contents *::-webkit-scrollbar-track {
  background-color: var(--color-contents-header);
}
.contents *::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.contents .header{
  background-color : var(--color-contents-header);
  padding:5px;
  position:relative;
  height : var(--size-images-header);
}

