.contents [name='property']{
  --size-name  : 30%;
  --size-value : calc(100% - var(--size-name));
  --size-trash : 30px;

  height:var(--size-property-area-height);

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.contents [name='property'] .info{
  height:calc(100% - var(--size-images-header));
  padding:10px;
  position:relative;
  overflow-y:auto;
}

.contents [name='property'] .info > *{
  width:100%;
}

.contents [name='property'] .info .title::after{
  content:' :';
}
.contents [name='property'] .info > *{
  padding:2px 5px;

}
.contents [name='property'] .info input[type='text']{
          appearance: none;
  -webkit-appearance: none;
     -moz-appearance: none;
       -o-appearance: none;
  display:inline-block;
  width:50px;
  background-color:transparent;
  border:0;
  text-align:right;
  outline:0;
}
.contents [name='property'] .info .flex > *{
  flex-grow: 1;
}


.contents [name='property'] .info .flex input.full{
  width:100%;
  text-align:left;
}
.contents [name='property'] .info .flex input.half{
  width:50%;
  text-align:left;
}

.contents [name='property'] .info input:hover,
.contents [name='property'] .info input:focus{
  color:white;
}

.contents [name='property'] .info .flex .title{
  font-weight:bold;
  width:var(--size-name);
}
.contents [name='property'] .info .flex .value{
  width:var(--size-value);
}


/* Buttons*/
.contents [name='property'] .info .trash{
  position:absolute;
  top:4px;
  right:8px;
  display:inline-block;
  width:var(--size-trash);
  fill:var(--color-font);
  cursor:pointer;
}
.contents [name='property'] .info .trash:hover{
  fill:white;
}
/* .contents [name='property'] .info .buttons{
  text-align:right;
}
.contents [name='property'] .info svg{
  display:inline-block;
  width:30px;
  fill:var(--color-font);
}
.contents [name='property'] .info .trash{
  cursor:pointer;
}
.contents [name='property'] .info .trash:hover{
  opacity:0.5;
} */

